<div class="flex gap-4 flex-col">
  <div>
    <h1 class="text-4xl font-bold mb-4">Ir al módulo A</h1>
    <div class="flex flex-col gap-1">
      <a [routerLink]="'/module-a/component-a'" class="btn btn-primary w-full">Componente 1</a>
      <a [routerLink]="'/module-a/component-b'" class="btn btn-secondary w-full">Componente 2</a>
    </div>
  </div>

  <!-- Segundo conjunto de título y botones -->
  <div>
    <h1 class="text-4xl font-bold mb-4">Ir al módulo B</h1>
    <div class="flex flex-col gap-1">
      <a [routerLink]="'/module-b/component-a'" class="btn btn-primary w-full">Componente 1</a>
      <a [routerLink]="'/module-b/component-b'" class="btn btn-secondary w-full">Componente 2</a>
    </div>
  </div>
</div>
